.git
.run
.idea
.ipynb_checkpoints
# -------------------------------------------------------------------------------------------------------------------- #
_.py
wandb
__pycache__
# -------------------------------------------------------------------------------------------------------------------- #
*.jpg
*.png
*.txt
*.csv
*.xml
*.xlsx
*.json
*.html
*.pt
*.pth
*.bin
*.trt
*.onnx
# -------------------------------------------------------------------------------------------------------------------- #
!clip.jpg
!image_database/demo0.jpg
!image_database/demo1.jpg
!image_database/demo2.jpg
!image_database/demo3.jpg
!image_database/demo4.jpg
